header{
    padding: 20px 50px;
}
header .bg-body-tertiary{
    background-color: #fff !important;
}
header .nav-item{
    margin-left: 20px;
}
header .nav-link{
    font-weight: 600;
    color: #111;
}
header .nav-link:hover{
    color: #17BDD1;
}
header .btn-outline-success{
    border: 1px solid #888;
    color: #888;
}
header .btn-outline-success:hover{
    border: 1px solid #17BDD1;
    color: #fff;
    background-color: #17BDD1;
}
/* header fin */

h2{
    font-size: 16px; font-weight: 600;
}
.container.marketing img{
    margin-left: 20px; width: 300px; height: 200px; object-fit: cover; 

}
p{
    display: block; margin: 14px 0 50px; font-size: 16px; font-weight: 600;
    text-align: center; 
}
/* 내가 넣은 별도 css */

footer{
    background-color: #111;
    padding: 50px;
    box-sizing: border-box;
}
.f-top{
     display: flex;
     justify-content: space-between;
     margin-bottom: 200px;
}
.f-top .icon-area li{
    display: inline-block;
    margin-right: 20px;
}
.f-top .icon-area li a{
    color: #fff;
    font-size: 20px;
}
.f-top .icon-area li a:hover{
    color: #17BDD1;
}
.f-bottom{
    display: flex;
    justify-content: space-between;
}
.f-bottom .familysite p{
    color: #888;
    margin-bottom: 20px;
}
.f-bottom .familysite li{
    font-size: 26px;
    font-weight: 700;
}
.f-bottom .familysite li:not(:last-child){
    margin-bottom: 10px;
}
.f-bottom .familysite li a{
    color: #fff;
}
.f-bottom .familysite li a:hover{
    color: #17BDD1;
}
.f-bottom .copyright{
    align-self: flex-end;
    text-align: right;
}
.f-bottom .copyright div{
    margin-bottom: 30px;
}
.f-bottom .copyright a{
    color: #888;
    font-weight: 700;
    margin-right: 10px;
}
.f-bottom .copyright a:hover{
    color: #17BDD1;
}
.f-bottom .copyright p{
    color: #888;
    font-size: 14px;
}
/* footer fin */
@media(max-width: 575px){
    footer{
        background-color: #111;
        padding: 30px;
        box-sizing: border-box;
    }
    .f-top{
        display: block;
        margin-bottom: 50px;
        text-align: center;
    }
    .f-top h1{
        display: none;
    }
    .f-top .icon-area li{
        display: inline-block;
        margin-right: 20px;
    }
    .f-top .icon-area li a{
        color: #fff;
        font-size: 20px;
    }
    .f-top .icon-area li a:hover{
        color: #17BDD1;
    }
    .f-bottom{
        display: block;
        text-align: center;
    }
    .f-bottom .familysite{
        margin-bottom: 50px;
    }
    .f-bottom .familysite p{
        margin-bottom: 20px;
        color: #888;
        font-size: 18px;
    }
    .f-bottom .familysite li a{
        font-size: 24px;
        color: #fff;
        font-weight: 700;
    }
    .f-bottom .familysite li a:hover{
        color: #17BDD1;
    }
    .f-bottom .copyright{
        text-align: center;
    }
    .f-bottom .copyright > div{
        margin-bottom: 10px;
    }
    .f-bottom .copyright a{
        color: #fff;
        margin-left: 8px;
        font-weight: 700;
    }
    .f-bottom .copyright a:hover{
        color: #17BDD1;
    }
    .f-bottom .copyright p{
        font-size: 12px;
        color: #888;
    }
    /* mobile footer fin */
}
